<h1>User Profile</h1>
<table>
  <tr>
    <td>Name:</td>
    <td><%= [@user.first_name, @user.last_name].join(' ') %></td>
  </tr>
  <tr>
    <td>Username:</td>
    <td><%= @user.username %></td>
  </tr>
  <tr>
    <td>Email:</td>
    <td><%= @user.email %></td>
  </tr>
</table>

<h2>Hosted Events</h2>
  <% @user.events.each do |e|%>
    <table>
      <tr>
        <td><strong>Title:</strong></td>
        <td><%= e.title %></td>
      </tr>
      <tr>
        <td><strong>Location:</strong></td>
        <td><%= e.location %></td>
      </tr>
      <tr>
        <td><strong>Description::</strong></td>
        <td><%= e.description %></td>
      </tr>
      <tr>
        <td><strong>Start Time:</strong></td>
        <td><%= e.time %></td>
      </tr>
    </table>
  <% end %>

<h2>Attending Events</h2>

  <h3>Upcoming</h3>
    <% @user.attended_events.upcoming.each do |e| %>
      <table>
      <tr>
        <td><strong>Title:</strong></td>
        <td><%= e.title %></td>
      </tr>
      <tr>
        <td><strong>Host:</strong></td>
        <td><%= [e.creator.first_name, e.creator.last_name].join(' ') %></td>
      </tr>
      <tr>
        <td><strong>Location:</strong></td>
        <td><%= e.location %></td>
      </tr>
      <tr>
        <td><strong>Description::</strong></td>
        <td><%= e.description %></td>
      </tr>
      <tr>
        <td><strong>Start Time:</strong></td>
        <td><%= e.time %></td>
      </tr>
    </table>
    <% end %>
  
  <h3>Past</h3>
    <% @user.attended_events.past.each do |e| %>
      <table>
      <tr>
        <td><strong>Title:</strong></td>
        <td><%= e.title %></td>
      </tr>
      <tr>
        <td><strong>Host:</strong></td>
        <td><%= [e.creator.first_name, e.creator.last_name].join(' ') %></td>
      </tr>
      <tr>
        <td><strong>Location:</strong></td>
        <td><%= e.location %></td>
      </tr>
      <tr>
        <td><strong>Description::</strong></td>
        <td><%= e.description %></td>
      </tr>
      <tr>
        <td><strong>Start Time:</strong></td>
        <td><%= e.time %></td>
      </tr>
    </table>
    <% end %>

</br>
<%= link_to 'Back', root_path %>


