<h1><%= @event.title %></h1>

<% e = @event %>
<table>
  <tr>
    <td><strong>Host:</strong></td>
    <td><%= e.creator.f_name %></td>
  </tr>
  <tr>
    <td><strong>Location:</strong></td>
    <td><%= e.location %></td>
  </tr>
  <tr>
    <td><strong>Description:</strong></td>
    <td><%= e.description %></td>
  </tr>
  <tr>
    <td><strong>Start Time:</strong></td>
    <td><%= e.pretty_time %></td>
  </tr>
</table>

<h2>Attending</h2>

  <% @event.attendees.each do |a| %>
    <%= link_to a.f_name, user_path(a) %>
    </br>
  <% end %>