<h1><%= @event.title %></h1>

<p>Host:<%= [@event.creator.first_name, @event.creator.first_name].join(' ') %></p>
<p>Location:<%= @event.location %></p>
<p>Description:<%= @event.description %></p>
<p>Starts At:<%= @event.time %></p>

<h2>Attending</h2>
<ul>
  <% @event.attendees.each do |a| %>
    <li><%= [a.first_name, a.last_name].join(' ')%></li>
  <% end %>
</ul>